<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>517533655454-g5c8todqie9o1scm7ors11jbqj4lbe93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517533655454-g5c8todqie9o1scm7ors11jbqj4lbe93</string>
	<key>API_KEY</key>
	<string>AIzaSyB68_8sm3eqUZtMEqMu5reRJSTrQcmb5Ck</string>
	<key>GCM_SENDER_ID</key>
	<string>517533655454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Giter</string>
	<key>PROJECT_ID</key>
	<string>giter-e6357</string>
	<key>STORAGE_BUCKET</key>
	<string>giter-e6357.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:517533655454:ios:852ea2141e4e7142</string>
	<key>DATABASE_URL</key>
	<string>https://giter-e6357.firebaseio.com</string>
</dict>
</plist>