<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Giter Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Giter iMessage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Giter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GiterWatch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>GiterWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C324ABC71F5E8C57000B1619</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C348BE1B1F67E2B1004EAC2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C368F97D1F629C650082D05B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3BA8CF61F120DCD0082CB6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3BA8D0A1F120DCD0082CB6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3BA8D151F120DCD0082CB6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
